<div class="container topbox">
  <br>
  <br>
  <div class="row justify-content-end">
    <div class="col-sm-4">
      <a href="http://localhost:3000/lists"><img src="/assets/task.png" width="200" height="auto"></img>
    </div>
    <div class="col-sm-4">
      <h1><%= @list.name %></h1>
    </div>
      <div class="col-sm-4 headbox form-inline ">
      <%= form_tag(list_tasks_path, method: :get) do %>
            <%= text_field_tag :term, params[:term], :class => 'form-control mr-sm-2' %>
            <%= submit_tag 'Search', title: nil, :class =>'btn btn-outline-info my-2 my-sm-0' %>
      <% end %>
      </div>
    </div>
  </div>


<!--search-->
  <div class="container">

<!--search-->
  <table class="table table-hover">
  <thead class="thead">
    <th>No.</th>
    <th>Name </th>
    <th>Description</th>
    <th>Created</th>
    <th>Due Date</th>
    <th>Attachment</th>
    <th colspan="2">Options</th>
  </thead>
  <% index = 0 %>
  <% @tasks.each do |task| %>
  <tbody>

    <td><% index += 1 %> <%= index %></td>
    <td><%= task.title%></td>
    <td><%= task.details%></td>
    <td><%= task.created_at%></td>
    <td><%= task.due_date%></td>
    <td><%= image_tag task.task_image.url(:thumb) %></td>
    <td><%= link_to 'Edit', edit_list_task_path(@list,task), method: :get%></td>
    <!-- <td><%= link_to 'Show', list_task_path(@list,task), method: :get%></td> -->
    <td><%= link_to 'Destroy', list_task_path(@list,task), method: :delete%></td>

  </tbody>
    <% end %>
</table>
<%= link_to 'Back to Task Lists', lists_path %>
<hr />
<h3>Add Task</h3>
<%= simple_form_for @task , url: list_tasks_path(@list), method: :post do |f| %>
<%= f.input :title, error: 'Please enter a title!' %>
<%= f.input :details %>
<%= f.input :due_date %>
<%= f.input :task_image, as: :file, label: 'Attachment:' %>
<%= f.button :submit %>
<% end %>
